
/*General*/

/*
Social Icon styles
*/
body {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.social-icon {
  width: 1.6rem;
}


/*Font Import*/
@font-face {
  font-family: 'Roboto';
  src: url('assets/fonts/Roboto/Roboto-Regular.ttf') format('truetype');
  /* You can include other font formats and weights if needed */
}
@font-face {
  font-family: 'Roboto';
  font-weight: bold;
  src: url('assets/fonts/Roboto/Roboto-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto';
  font-weight: 500; /* medium weight */
  src: url('assets/fonts/Roboto/Roboto-Medium.ttf') format('truetype');
}

/*
body {
  font-family: 'Roboto';
}*/

p{
  font-family: 'Roboto';
  color: rgb(251, 250, 245);
}

a{
  text-decoration: none;
  color: #fff157;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family:panton, Arial, Helvetica, sans-serif;
  color: rgb(251, 250, 245);

}

.section-title {
  padding-bottom: 40px;
  text-align: center;
}


/*Go top button*/
.go-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #fff157;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
  /*box-shadow: inset 0px 0px 5px rgba(0, 0, 0, 0.3);*/
}

.go-top-icon {
  width: 1.5rem;
}


.go-top:hover {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.5);
  color: #fff;
}

.go-top.active {
  visibility: visible;
  opacity: 1;
}



/*------Preloader------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #fff157;
  border-top-color: #ffe9e3;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: animate-preloader 1s linear infinite;
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
/*------Preloader End------*/

/*Disable aos animation delay on mobile devices*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

/*------Header------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
}

#header.header-scrolled,
#header.header-inner-pages {
  background: rgba(8, 11, 12, 0.867);
  padding: 10px 0;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
}

#header .logo a {
  color: #fff;
}

.header-title {
  color: white;

}

#header .logo img {
  max-height: 40px;
  margin-right: 1rem;
}


/*<==============>Navigation Bar<==========>*/

/*------Desktop Navigation------*/
.navbar {
  padding: 0;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar>ul>li {
  white-space: nowrap;
  padding: 8px 12px;
}

.navbar a,
.navbar a:focus {
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;
  padding: 0 3px;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  font-family: panton;
  color: rgba(255, 255, 255, 0.9);
  white-space: nowrap;
  transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover:before,
.navbar li:hover>a:before,
.navbar .active:before {
  visibility: visible;
  width: 100%;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: #fff157;
}

.burger-bar{
  width: 2rem;
}



/*------Mobile Navigation ------*/
.mobile-nav-toggle {
  color: rgb(251, 250, 245);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;

}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}

.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(4, 7, 9, 0.9);
  transition: 0.3s;
  z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}

.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: rgb(251, 250, 245);

  overflow-y: auto;
  transition: 0.3s;
}

.navbar-mobile a,
.navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 17px;
  color: #091217;
  width: 15rem;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover>a {
  color: #fff157;
  -webkit-text-stroke: 0.06rem #091217;
  width: 15rem;
}


.navbar-mobile .getstarted,
.navbar-mobile .getstarted:focus {
  margin: 15px;
}



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hero-background.jpg") top center;
  background-size: cover;
  position: relative;
  padding: 0;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 50px;
  font-size: 24px;
}

#hero .explore-machines-btn {
  font-family: panton;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  display: inline-block;
  padding: 10px 35px 10px 35px;
  border-radius: 4px;
  transition: 0.5s;
  color: #000000;
  background-color: #fff157;
  box-shadow: inset 0px 0px 20px rgba(0, 0, 0, 0.5);

}
#hero .explore-machines-btn:hover {
  border-color: #fff;
  background: rgba(255, 255, 255, 0.1);
}



@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }

  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

/*Sections General*/
section {
  padding: 60px 0;
  overflow: hidden;
}



/*<===========>About<=========>*/

.about-icon {
  width: 3.2rem;
}
.about{ 
  background-color: rgb(21, 25, 28);
}


.about p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.about h1 {
  text-align: center;
  color: rgb(251, 250, 245);
}

.about .container {
  box-shadow: 0px 2px 15px rgba(255, 255, 255, 0.1);
  padding-bottom: 15px;
  color: rgb(251, 250, 245);
  background-color: #091217;
}

.about-text {
  font-weight: 500;
  font-size: 1.2rem;
}

.about .count-box {
  padding: 60px 0;
  width: 100%;
}

.about .count-box i {
  display: block;
  font-size: 48px;
  color: #fff157;
  float: left;
  line-height: 0;
}

.about .count-box span {
  font-size: 28px;
  line-height: 25px;
  display: block;
  font-weight: 700;
  color: rgb(251, 250, 245);
  margin-left: 60px;
}

.about .count-box p {
  padding: 5px 0 0 0;
  margin: 0 0 0 60px;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: rgb(251, 250, 245);
}

.about .count-box a {
  font-weight: 600;
  display: block;
  margin-top: 20px;
  color: #fff157;
  font-size: 15px;
  font-family: "Poppins", sans-serif;
  transition: ease-in-out 0.3s;
}


.about .content {
  font-size: 15px;
}

.about .content h3 {
  font-weight: 700;
  font-size: 24px;
  color: #fff157;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  padding-bottom: 10px;
  padding-left: 28px;
  position: relative;
}

.about .content ul i {
  font-size: 24px;
  color: #fff157;
  position: absolute;
  left: 0;
  top: -2px;
}

.about .content p:last-child {
  margin-bottom: 0;
}

/*--------------------------------------------------------------
# Awards Section
--------------------------------------------------------------*/

.awards h1{
  margin-top: 0;
  margin-bottom: 4rem;
  margin-top: 1rem;
  color: rgb(251, 250, 245);
}

.awards{
  background-color:  #091217;
}



.awards .card {
  margin-bottom: 4rem;
  margin-right: 1rem;
  margin-left: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(25, 37, 48);
  padding: 10px 20px;
}

.awards p {
  font-size: 1.2rem;
  font-family: Roboto ,Arial, Helvetica, sans-serif;
}

.awards .card {
  border: none;
  background-color:rgb(21, 25, 28);
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.6);
}

.awards a {
  color: black;
}


.awards .card-body {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

.awards .card-title a {
  color:#fff157;
}


.awards .card-text {
  color: rgb(251, 250, 245);
}

.awards .card-img-top {
   object-fit: cover;
   object-position: top;
   margin-top:0.5rem;
   opacity: 0.9;
}

@media (max-width: 1024px) {
  .awards {
    background-attachment: scroll;
    background-size: auto;
  } 
}



/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#services {
  background-color: rgb(21, 25, 28);
}
.services p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.services .section-title {
  text-align: center;
}

.services .icon-box {
  margin-bottom: 20px;
  padding: 30px;
  border-radius: 6px;
  background-color:#091217;
}

.services .service-box {
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.2);
}

.services .service-icon {
  width: 50px;
  height: 50px;
}

.services .icon-box i {
  float: left;
  color: #fff157;
  font-size: 40px;
  line-height: 0;
}

.services .icon-box h4 {
  margin-left: 70px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

.services .icon-box h4 a {
  color: #fff157;
  transition: 0.3s;
}


.services .icon-box p {
  margin-left: 70px;
  line-height: 24px;
  font-size: 14px;
}



/*-------Machines Section------*/
#machines {
  background-color: #091217;
}

#machines p {
  font-family: Roboto,Arial, Helvetica, sans-serif;
}
.machines #machines-flters {
  padding: 0;
  margin: 0 auto 0px auto;
  list-style: none;
  text-align: center;
  border-radius: 50px;
}

.machines #machines-flters li {
  cursor: pointer;
  display: inline-block;
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  color: #444444;
  /*margin: 0 3px 10px 3px;*/
  transition: all ease-in-out 0.3s;
  background: rgb(251, 250, 245);
  border-radius: 4px;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
}



.machines-selective-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.15rem solid #ffffff;
  background-color: rgb(82, 94, 102);
  border-radius: 0.4rem;
  padding-bottom: 0;
  padding: 5px;
  margin-bottom: 1rem;
}



.machines #machines-flters li:hover,
.machines #machines-flters li.filter-active{
  color: #444444;
  background-color: #fff157;
}

.machines #machines-flters li:last-child {
  margin-right: 0;
}

.machines .machines-item {
  margin-bottom: 30px;
  overflow: hidden;
}

.machines .machines-item img {
  position: relative;
  top: 0;
  transition: all 0.6s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
  border-radius: 0.8rem;
}

.machines .machines-item .machine-info {
  opacity: 1;
  position: absolute;
  left:12px;
  right: 12px;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  background-color: rgb(251, 250, 245);
  padding: 15px 20px;
 border-bottom-left-radius: 0.7rem;
 border-bottom-right-radius: 0.7rem;
}

.machines .machines-item .machine-info h4 {
  font-size: 18px;
  color: #444444;
  font-weight: 600;
}

.machines .machines-item .machine-info p {
  color: #444444;
  font-size: 14px;
  margin-bottom: 0;
}

/* Mund te duhen
.machines .machines-item .machine-info .preview-link,
.machines .machines-item .machine-info .details-link {
  position: absolute;
  right: 50px;
  font-size: 24px;
  top: calc(50% - 18px);
  color: white;
  transition: ease-in-out 0.3s;
}

.machines .machines-item .machine-info .preview-link:hover,
.machines .machines-item .machine-info .details-link:hover {
  color: #ffc1b0;
}
*/
.machines .machines-item .machine-info .details-link {
  right: 15px;
}



.machines /*.machines-item:hover*/ .machine-info {
  opacity: 1;
  bottom: 0;
}


/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
#team {
  box-shadow: 0px 1px 5px rgba(255, 255, 255, 0.5);
}

.team {
  position: relative;
  background-color: rgb(21, 25, 28);
}

.team p {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.team .container {
  position: relative;
  z-index: 10;
}

.team .member {
  margin-bottom: 80px;
  position: relative;
}

.team .member .pic {
  overflow: hidden;
}

.team .member .member-info {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #091217;
  padding: 1rem 2rem;
  color: rgb(251, 250, 245);
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: 0.5s;
}

.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: rgb(251, 250, 245);
  position: relative;
  padding-bottom: 10px;
}
/*
.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background-color: #fff157;
  bottom: 0;
  left: 0;*
}*/

.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
}

.team .member .social {
  position: absolute;
  right: 15px;
  bottom: 15px;
}

.team .member .social a {
  transition: color 0.3s;
  color: #fff157;
}



.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

@media (max-width: 992px) {
  .team .member {
    margin-bottom: 110px;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/

#contact {
  background-color: #091217;
  color: white;
}


.contact .info-box {
  color: #444444;
  text-align: center;
  box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
  padding: 20px 0 30px 0;
}


.contact .info-box h3 {
  font-size: 20px;
  color: #777777;
  font-weight: 700;
  margin: 10px 0;
}

.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.contact-row {
  justify-content: center;
}

.contact .email-form {
  background-color: rgb(21, 25, 28);
  box-shadow: 0 0 10px rgba(214, 215, 216, 0.3);
  padding: 30px;
}

.contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #fff157;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .error-message br+br {
  margin-top: 25px;
}

.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

.contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

.contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  animation: animate-loading 1s linear infinite;
}

.contact .email-form input,
.contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}


.contact .email-form input {
  padding: 10px 15px;
}

.contact .email-form textarea {
  padding: 12px 15px;
}

.contact .email-form button[type=submit] {
  background: rgb(251, 250, 245);
  border: 0;
  padding: 10px 24px;
  color: black;
  transition: 0.4s;
  border-radius: 4px;
}

.contact .email-form button[type=submit]:hover {
  background: #fff157;
  color: black;
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f0f4f8;
  min-height: 40px;
  margin-top: 78px;
}

.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 400;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.breadcrumbs ol li+li {
  padding-left: 10px;
}

.breadcrumbs ol li+li::before {
  display: inline-block;
  padding-right: 10px;
  color: #263d4d;
  content: "/";
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 52px;
  }

  .breadcrumbs .d-flex {
    display: block !important;
  }

  .breadcrumbs ol {
    display: block;
  }

  .breadcrumbs ol li {
    display: inline-block;
  }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  background: #091217;
  padding: 0 0 30px 0;
  color: rgb(251, 250, 245);
  font-size: 14px;
}

.footer-top {
  box-shadow: 0px 3px 3px rgba(255, 255, 255, 0.4);
}

.bottom-footer {
  background-color: #091217;
  margin-top: 10px;
}

.designer {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.designer-container {
  margin-bottom: 1rem;
}

#footer .footer-top {
  background: rgb(21, 25, 28);

  padding: 60px 0 30px 0;
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 15px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-info p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;

  color: black;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
  box-shadow: inset 0px 0px 5px rgba(255, 255, 255, 0.5);
  text-decoration: none;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: rgb(251, 250, 245);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  color: #fff157;
}

#footer .footer-top .footer-newsletter form {
  margin-top: 30px;
  background: #fff;
  padding: 6px 10px;
  position: relative;
  border-radius: 4px;
}

#footer .footer-top .footer-newsletter form input[type=email] {
  border: 0;
  padding: 4px;
  width: calc(100% - 110px);
}

#footer .footer-top .footer-newsletter form input[type=submit] {
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 20px;
  background: #ff4a17;
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
}

#footer .footer-top .footer-newsletter form input[type=submit]:hover {
  background: #ff5e31;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
}

#footer .credits {
  padding-top: 10px;
  text-align: center;
  font-size: 13px;
  color: #fff;
}

#footer .credits a {
  transition: 0.3s;
}